doctype html
html
  head
    meta(charset="utf-8")
    style.
      body { font-family: sans-serif; }
      .container { padding: 20px; border: 1px solid #ddd; border-radius: 5px; max-width: 600px; margin: auto; }
      .button { background-color: #F97316; color: white; padding: 15px 25px; text-align: center; text-decoration: none; display: inline-block; border-radius: 5px; }
  body
    div.container
      h2 Olá, #{name}!
      p Você solicitou a redefinição da sua senha para o app Minhas Finanças.
      p Se foi você, clique no botão abaixo para criar uma nova senha. Este link é válido por 1 hora.
      br
      a(href=url, class="button") Redefinir Minha Senha
      br
      p Se você não solicitou isso, por favor ignore este e-mail.